version: '3.8'
services:
  mongodb:
    image: mongodb/mongodb-community-server:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
volumes:
  mongodb_data:
